@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600");

/* Remove Default Margin and paddings for all HTML elements */
* {
  color: var(--text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* CSS variables to use any where in website (if you want to change theme one change here will apply to entire website) */
:root {
  --heading: rgb(3, 2, 31);
  --navbar : #051430;
  --text: #7e7f85;
  --category: #0b054dcc;
  --button: rgb(14, 48, 112);
  --border: rgb(183, 183, 183);
  --shadow: rgb(52, 52, 52);
  --theme: #fd5353;
  --bg: #f7f8f9;
  --footerBg: #415161;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
  border: 1px var(--border) solid;
  border-radius: 8px;
  transition:
    background-color 0.2s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;
}
button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px var(--shadow);
  filter: brightness(1.1);
}
button:active {
  transform: translateY(1px);
}

.header {
  display: flex;
  background-color: var(--heading);
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.logo{
  cursor: pointer;
}
.logo:hover{
  filter: brightness(1.4);
}
.cart{
  cursor: pointer;
}
.cart:hover{
  filter: brightness(1.4);
}
.search-box{
  position: absolute;
  display: flex;
  left: 350px;
}
.search-box input{
  width: 500px;
  height: 32px;
  border-radius: 8px;
  font-size: large;
  padding-left: 10px;
  color: var(--text);
  background-color: var(--bg);
}
.search-box button{
  position: absolute;
  right: 0;
  width: 30px;
  height: 32px;
  background-color: var(--button);
  border-left: none;
  border: gray;
  border-radius: 8px;
}
.social-media-header{
  display: flex;
  position: absolute;
  left: 200px;
  padding: 10px;
}
.telegram-header img{
  width: 50px;
  height: auto;
  margin-right: 5px;
  cursor: pointer;
}
.youtube-header img{
  width: 50px;
  height: auto;
  margin-left: 5px;
  cursor: pointer;
}
.youtube-header img:hover, .telegram-header img:hover{
  transform: scale(1.2);
}
.youtube-header img:active, .telegram-header img:active{
  transform: scale(1);
}
.navbar {
  display: flex;
  gap: 50px;
  background-color: var(--navbar);
}
.navbar-items {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 10px;
}
.navbar-items li a {
  color: var(--text);
  cursor: pointer;
  border-radius: 20px;
  transition:.3s ease;
  display: inline-block;
  position: relative;
}
.navbar-items li a:hover {
  filter: brightness(1.1);
  box-shadow: 2px 4px 20px var(--shadow);
  color:#00c8ff;
  transform:translateY(-2px);
}
.navbar-items li a::after{
  content:"";
  position:absolute;
  left:50%;
  bottom: 0;
  width:0;
  height:2px;
  background:#00c8ff;
  transition:.3s;
}
.navbar-items li a:hover::after{
  width: 100%;
  left: 0;
}
.slider-container {
  overflow: hidden;
  background-color: var(--category);
  height: 500px;
}

.slider {
  display: flex;
  padding: 25px 50px;
  gap: 50px;
}
.slider-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.slider-description button {
  background-color: var(--button);
  width: 80px;
  height: 30px;
}

.show-slide-number {
  top: 100px;
  position: absolute;
  font-size: 18px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  font-size: 25px;
  transition: 0.5s ease;
  user-select: none;
  margin: 0px 8px;
}
.next {
  right: 0;
}
.next:hover {
  transform: translateX(5px);
  box-shadow: 0px 8px 30px var(--shadow);
  filter: brightness(1.1);
}
.prev:hover {
  transform: translateX(-5px);
  box-shadow: 0px 8px 30px var(--shadow);
  filter: brightness(1.1);
}

.show-slide-dot {
  text-align: center;
}
.show-slide-dot span {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #7e7f85;
  display: inline-block;
  border-radius: 9999px;
  margin: 4px 2px;
  transition: background-color 0.5s ease;
}
